!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

*.class 
.DS_Store 
Servers/* 
.metadata 
target/ 
bin/ 
rebel.xml 
.mvn* 
mvnw* 


