<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<!-- se dentro do objeto titulo tem erros retornados -->
		<div th:each="detailedError : ${#fields.detailedErrors()}">
			<!-- #fields.detailedErrors retorna uma lista de erros encontrados no objeto Titulo iterando sobre cada um-->
			<span th:text="${detailedError.message}"></span>
			<!--  mostra a mensagem de erro cadastrada na annotation @NotNull no objeto titulo (Titulo.java)-->
		</div>
	</div>


</html>
